body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

.hint {
  color: #666;
}

.statusbar {
    color: rgb(87, 66, 15);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    float: right;
}

.section {
    color: goldenrod;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}
